<h2><%= @user.fullname ? @user.fullname : @user.username %></h2>
<%= image_tag avatar_url(@user) %>
<% if @repos.any? %>
  <% @repos.each do |repo| %>
    <%= link_to repo.name, repo_path(@user,repo) %><br />
  <% end %>
<% else %>
  "No repos"
<% end %>
