<div class='jumbotron'>
  <div class='container'>
    <h2>Rate My Repo</h2>
    <ul>
      <li>Get feedback on your work</li>
      <li>Find out how your code is being used</li>
      <li>More info here</li>
    </ul>
  </div>
</div>
<div class='container'>
  <div class='span9'>
    <ul>
      <li>Top Rated Repos</li>
      <li>Newest Comments</li>
      <li></li>
  </div>
</div>
