defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5

  # Minimum log levels, in increasing order:
  #   debug5, debug4, debug3, debug2, debug1,
  #   log, notice, warning, error, fatal, and panic
  # The server defaults to notice.
  min_messages: warning

development:
  <<: *defaults
  database: ratemyrepo_development
  host: localhost

production:
  <<: *defaults
  database: ratemyrepo_production

test:
  <<: *defaults
  database: ratemyrepo_test
  host: localhost
