<div id='review-form'>
  <%= simple_form_for review, :remote => true do |f| %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.input :comment, :as => :text, :input_html => { :rows => "2" }, :label => false %>
    <div class="form-actions">
      <%= f.submit 'Post comment', :class => 'btn btn-primary', :disable_with => "Submitting..." %>
    </div>
  <% end %>
</div>
