<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>
  <body onload="setTimeout(function() {window.scrollTo(0, 1)}, 10)">

    <%= render 'layouts/navigation' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
